<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.travel.mapper.TravelPlaceMapper">

	<!-- TravelPlaceMapper.xml -->
	<!-- insert IGNORE 대신 중복시 update 처리 추가 -->
	<insert id="insertTravelPlace">

		INSERT INTO travel_place (
		content_id,
		title,
		area_code,
		sigungu_code,
		addr1,
		addr2,
		cat1,
		cat2,
		cat3,
		first_image,
		first_image2,
		map_x,
		map_y,
		created_time,
		modified_time,
		content_type_id
		)
		VALUES (
		#{contentId},
		#{title},
		#{areaCode},
		#{sigunguCode},
		#{addr1},
		#{addr2},
		#{cat1},
		#{cat2},
		#{cat3},
		#{firstImage},
		#{firstImage2},
		#{mapX},
		#{mapY},
		#{createdTime},
		#{modifiedTime},
		#{contentTypeId}
		)

		<!-- content_id 중복 발생시 기존 데이터 update 처리 -->
		ON DUPLICATE KEY UPDATE

		title = VALUES(title),
		area_code = VALUES(area_code),
		sigungu_code = VALUES(sigungu_code),
		addr1 = VALUES(addr1),
		addr2 = VALUES(addr2),
		cat1 = VALUES(cat1),
		cat2 = VALUES(cat2),
		cat3 = VALUES(cat3),
		first_image = VALUES(first_image),
		first_image2 = VALUES(first_image2),
		map_x = VALUES(map_x),
		map_y = VALUES(map_y),
		created_time = VALUES(created_time),
		modified_time = VALUES(modified_time),
		content_type_id = VALUES(content_type_id)

	</insert>
</mapper>
